body
{
    background-color: antiquewhite;
}
h1
{
    border:2px solid red;
    padding: 3px;
    text-align: center;
}
button
{
    background-color: cadetblue;
    color: red;
    font-size:large;
    font-weight: bold;
}